@font-face {
    font-family: "WH";
    src: url(fonts/IMFeENsc28P.ttf);
}


body { 
    background: url(images/Back.jpg);
    color: white;
    font-family: "WH", sans-serif;
}

figure {
    background: url(images/paint.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px;
}

header {
    font-size: 40px;
    text-align: center;
}

h1 {
    margin-left: 150px;
    font-size: 28px;
    background-color: black;
    width: 130px;
}

h2 {
    margin-left: 170px;
    font-size: 28px;
    background-color: black;
    width: 180px;
}

h3 {
    margin-left: 150px;
    font-size: 28px;
    background-color: black;
    width: 230px;
}

h4 {
    margin-left: 150px;
    font-size: 28px;
    background-color: black;
    width: 180px;
}


ul {
    margin-left: 90px;
    font-size: 26px;
    background-color: black;
    width: 290px;
}

.column {
    float: left;
    width: 33.33%;
}

.margin-about {
    margin-left: 100px;
    background-color: black;
    background-blend-mode: 200px;
    width: 1200px;
}

p {
    font-size: 26px;
}

.gif {
    margin-top: 80px;
    margin-left: 40px;
}