@font-face {
    font-family: "WH";
    src: url(fonts/WH.ttf);
}

html {
    background: url(images/back2.jpg);
    background-size: cover;
}

body {
    text-align: center;
    font-family: "WH";
	color: black;
	text-align: center;
	text-shadow: rgb(0, 0, 0) 3px 3px 3px;
	-webkit-text-stroke: 1px red;
}

h1 {
    font-size: 400%;
}

label {
    display: block;
    font-size: 400%;
}

.style {
    padding-top: 2%;
    display: block;
}

.dec {
    border-radius: 8px;
}

p {
    font-size: 100px;
    margin-block-start: 0;
    margin-block-end: 1em;
}