@font-face {
    font-family: "WH";
    src: url(fonts/WH.ttf);
}

html {
    background: url(images/back.png);
    background-size: cover;
}

body {
    background-image: url(images/frame2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 64%;
    font-family: "WH";
    text-align: center;
    font-size: 150%;
    font-weight: bolder;
}

h1 {
    font-size: 250%;
}

div {
    margin-top: 1%;
}

footer {
    margin-top: 5%;
}