@font-face {
    font-family: "WH";
    src: url(fonts/WH.ttf);
}

html {
    background: url(images/back.png);
    background-size: cover;
}

body {
    background: url(images/frame.png);
    background-size: cover;
    text-align: center;
    font-family: "WH";
}

h1 {
    font-size: 350%;
}

label {
    display: block;
}