@font-face {
    font-family: "WH";
    src: url(fonts/WH.ttf);
}

html {
    background: url(images/back.png);
    background-size: cover;
}

body {
    text-align: center;
    font-family: "WH";
}

h1 {
    font-size: 300%;
}

label {
    display: block;
    font-size: 250%;
}

div {
    padding-top: 2%;
}